<section class="section team bg-shape-two" id="slide3">
	<div class="container">
		<div class="row">
			<div class="col-12">
				<div class="section-title">
					<h2>Summary of Pills Distributed By County</h2>
          <p>Below you can see an animated display of the increase in pills distributed by county from 2006-2012.</p>
				</div>
      <div style="width: 500px;padding-left: 100px;margin: 0 0 20px;">
        <img src="./images/app-screenshot/pills-per-year.gif" style="float:left; margin-left:200px; padding-right:0px;">
			</div>
		</div>
		</div>
	</div>
</section>
