
<h1>References</h1>

<table>
    <tbody>

      <tr>
        <td>[1]</td>
        <td>  Clark, D.J. and M.A. Schumacher, America's Opioid Epidemic: Supply and Demand
            Considerations. Anesth Analg, 2017. 125(5): p. 1667-1674.
        </td>
      </tr>
     <tr>
        <td>[2]</td>
        <td>
            Volkow, N.D. and A.T. McLellan, Opioid Abuse in Chronic Pain--Misconceptions
            and Mitigation Strategies. N Engl J Med, 2016. 374(13): p. 1253-63.
        </td>
      </tr>
     <tr>
        <td>[3]</td>
        <td>
            RA, R., et al., Increases in Drug and Opioid-Involved Overdose Deaths —
            United States, 2010–2015. 2016, Morbidity and Mortality Weekly Report.
            p. 1445-1452.
        </td>
      </tr>

    </tbody>
</table>


