
<!--===================================
=            Pricing Table            =
====================================-->

<section class="section team bg-shape-two" id="slide3">
	<div class="container">
		<div class="row">
			<div class="col-12">
				<div class="section-title">
					<h2 style="text-align: left;">Experiment and Results</h2>

        <div style="text-align: left; margin-bottom: 20px;">
					<p style="margin-left: 0px;">Because we completed a thorough baseline analysis above, we were able to apply a geographically weighted regression algorithm to the CDC Mortality Data, US Census Data, and ARCOS pill distribution data in an attempt to show whether a correlation existed between opioid prescriptions and overdose deaths. </p>
          <br/>
					<p style="margin-left: 0px;">Our unique approach to the problem applied a geographically weighted regression algorithm to the CDC Mortality Data, US Census Data, and ARCOS pill distribution data. The CDC suppresses mortality results for counties with fewer than 10 overdose deaths, so many counties throughout the country could not be evaluated due to this supression. However, in areas of the country most deeply effected by the opioid overdose epidemic, correlations are easily spotted. </p>
          <br/>
					<p style="margin-left: 0px;">The map below shows Virginia, West Virginia, and Kentucky over the 2006-2012 period, with the color scale representing, low or no correlation, medium and high levels of correlation between overdose deaths and prescription pain killer distribution. </p>
        </div>

				</div>
				    <div style="width: 500px;padding-left: 100px;margin: 0 0 20px;">
            <img src="./images/app-screenshot/GTWR-Results.png" style="width: 900px; float:left; margin-left:30px; margin-bottom:40px; padding-right:0px;">

        </div>
				<div style="margin-top: 40px;" class="section-title">
					<h2 style="text-align: left;">Initial Conclusions</h2>
        <div style="text-align: left; margin-bottom: 20px;">
          <p style="margin-left: 0px;"> Using the geographically weighted approach, we found that from 2006-2012 a <b>positive association between opioid distribution and overdose mortality in the CDC data in 92% of counties contributing data.</b> </p>
          <br/>
          <p style="margin-left: 0px;">Additionally, lower income counties had higher correlation to overdose deaths than higher income counties. Further analysis could be done to show other contributing factors but our initial answer our problem statement in the affirmative: there does seem to be a positive correlation between prescription opioid distribution and overdose deaths in the United States.</p>
        </div>
        </div>

			</div>
		</div>
		</div>
	</div>
</section>

<!--====  End of Pricing Table  ====-->
