

<style>
        .table-wrapper-2 {
        display: block;
        max-height: 300px;
        overflow-y: auto;
        -ms-overflow-style: -ms-autohiding-scrollbar;
    }
</style>

<section class="cta-download bg-3 overlay" id="slide2">
	<div class="container">
		<div class="row">
			<div class="col-12">
				<div class="section-title">
					<h2 style="color:white;margin: 0 0 0px;">How did these drugs get into the hands of the public?</h2>
				</div>
                <div id="1" style="width: 800px;padding-left: 90px;margin: 0 0 20px;">
                        Surprisingly, only six companies distributed 75% of the pills during this seven year
                        period under evaluation: McKesson Corp., Walgreens, Cardinal Health, AmerisourceBergen, CVS, and Walmart.
                    These companies alone distributed a total of <b>57.6 Billion Pills</b>.
                </div>
			</div>
		</div>
		<div class="card"  style="width:90%" >
			<div class="card-body" >


                    <!--Table-->
                    <table id="distributors" class="table table-striped table-bordered" >

                        <thead class="mdb-color lighten-4">
                            <tr>
                                <th class="th-lg">Distributor</th>
                                <th class="no-sort th-lg">Units</th>
                                <th class="th-lg">Units pct</th>
                                <th class="no-sort th-lg">Dosage gms</th>
                                <th class="th-lg">Dosage pct</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for report_line in ui_data.slide2 %}
                          <tr>
                            <th scope="row">{{ report_line['distributor'] }}</th>
                            <td>{{ report_line['total_dosage'] }}</td>
                            <td>{{ report_line['percent_dosage'] }}</td>
                            <td>{{ report_line['total_gms'] }}</td>
                            <td>{{ report_line['percent_gms'] }}</td>
                          </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                    <!--Table-->

			</div>

		</div>
	</div>

</section>



