

<style>
        .table-wrapper-2 {
        display: block;
        max-height: 300px;
        overflow-y: auto;
        -ms-overflow-style: -ms-autohiding-scrollbar;
    }
</style>

<section class="section team bg-shape-two" id="slide5">
	<div class="container">
		<div class="row">
			<div class="col-12">
				<div class="section-title">
					<h2 style="margin: 0 0 0px;">Who did the Distributors buy from?</h2>
				</div>
                <div id="1" style="width: 800px;padding-left: 90px;margin: 0 0 20px;">
                    Our analysis shows that five companies produced approximately <b>95 percent</b> of the opioid's:
                        Mallinckrodt, Allergan Inc., Endo Pharmaceuticals Inc., Purdue Pharma LP, and Amneal Pharmaceuticals Inc..
                </div>
                <div id="1" style="width: 800px;padding-left: 90px;margin: 0 0 20px;">
                  Use the interactive data table below to sort and search through the pill manufacturers in the dataset.
                </div>
			</div>
		</div>
		<div class="card"  style="width:90%" >
			<div class="card-body" >
                    <!--Table-->
                    <table id="manufacturer" class="table table-striped table-bordered" >

                        <thead class="mdb-color lighten-4">
                            <tr>
                                <th class="th-lg">Manufacturer</th>
                                <th class="no-sort th-lg">Pills</th>
                                <th class="th-lg">Units pct</th>
                                <th class="no-sort th-lg">Dosage gms</th>
                                <th class="th-lg">Dosage pct</th>

                            </tr>
                        </thead>
                        <tbody>
                        {% for report_line in ui_data.slide5 %}
                          <tr>
                            <th scope="row">{{ report_line['manufacturer'] }}</th>
                            <td>{{ report_line['total_dosage'] }}</td>
                            <td>{{ report_line['percent_dosage'] }}</td>
                            <td>{{ report_line['total_gms'] }}</td>
                            <td>{{ report_line['percent_gms'] }}</td>

                          </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                    <!--Table-->

			</div>

		</div>
	</div>
</section>



