

<style>
        .table-wrapper-2 {
        display: block;
        max-height: 300px;
        overflow-y: auto;
        -ms-overflow-style: -ms-autohiding-scrollbar;
    }
</style>

<section class="section team bg-shape-two" id="slide5">
	<div class="container">
		<div class="row">
			<div class="col-12">
				<div class="section-title">
					<h2 >Top Pill Manufacturers</h2>
					<p >Five companies produced approximately 95% percent of the opioids:
                        Mallinckrodt; Allergan, Inc.; Endo Pharmaceuticals, Inc., Purdue Pharma LP
                        and Amneal Pharmaceuticals, Inc..</p>
				</div>
			</div>
		</div>
		<div class="card"  style="width:90%" >
			<div class="card-body" >
                    <!--Table-->
                    <table id="manufacturer" class="table table-striped table-bordered" >

                        <thead class="mdb-color lighten-4">
                            <tr>
                                <th class="th-lg">Manufacturer</th>
                                <th class="no-sort th-lg">Pills</th>
                                <th class="th-lg">Percent of Market</th>

                            </tr>
                        </thead>
                        <tbody>
                        {% for report_line in ui_data.slide5 %}
                          <tr>
                            <th scope="row">{{ report_line['manufacturer'] }}</th>
                            <td>{{ report_line['total_count'] }}</td>
                            <td>{{ report_line['percentage'] }}</td>
                          </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                    <!--Table-->

			</div>

		</div>
	</div>
</section>



